@font-face { font-family:'Blauer Nue'; src:url('font/Blauer-Nue-Heavy-iF6626350c62afa.otf') format('opentype'); font-weight:700; }
@font-face { font-family:'Blauer Nue'; src:url('font/Blauer-Nue-Medium-iF6626350c78103.otf') format('opentype'); font-weight:500; }
@font-face { font-family:'Blauer Nue'; src:url('font/Blauer-Nue-Light-iF6626350c6db36.otf') format('opentype'); font-weight:300; }
@font-face { font-family:'Montserrat'; src:url('font/Montserrat-Regular.ttf') format('truetype'); font-weight:400; }
@font-face { font-family:'Montserrat'; src:url('font/Montserrat-Medium.ttf') format('truetype'); font-weight:500; }
@font-face { font-family:'Montserrat'; src:url('font/Montserrat-ExtraBold.ttf') format('truetype'); font-weight:700; }
@font-face { font-family:'Montserrat'; src:url('font/Montserrat-ExtraBold.ttf') format('truetype'); font-weight:800; }
